:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
::selection {
  background: var(--color-primary);
  color: #fff;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

/* Links */
a {
  text-decoration: none;
}

.link {
  font-size: 1.4rem;
  text-transform: capitalize;
  color: #666666;
}

.link:hover {
  color: #000;
}

/* lists */
.list {
  list-style: none;
  padding: 0;
  color: #8b8b8b;
}

.list__inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

/* icons */
.icon {
  width: 40px;
  height: 40px;
}

.icon--small {
  width: 30px;
  height: 30px;
}

.icon--primary {
  color: var(--color-primary);
}

.icon--white {
  color: #fff;
}

.icon-container {
  background: #0a95ad;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.icon-container--accent {
  background: var(--color-accent);
}

/* buttons */
.btn {
  border-radius: 30px;
  border: 0;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 1rem 0;
  outline: 0;
  padding: 2rem 4rem;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
}

.btn__primary {
  color: #666666;
  border: 2px solid #666666;
}

.btn__primary:hover {
  background-color: #ccc;
}

.btn__accent {
  color: #fff;
  background: var(--color-accent);
}

.btn__accent:hover {
  background-color: #ccc;
}

.btn__subscribe {
  color: var(--color-accent);
  background: #fff;
}

.btn__subscribe:hover {
  background-color: #ccc;
}

/* Inputs */
.input {
  padding: 1.5rem 3.5rem;
  border: 1px solid #fff;
  border-radius: 30px;
  outline: 0;
  color: orange;
  font-size: 2rem;
}

::placeholder {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .input {
    font-size: 1.6rem;
  }
}

/* forms */
.newsletter {
  height: auto;
  background-image: url(/images/raimond-klavins-UvWx67Ivqe0-unsplash.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.update-form {
  height: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__input {
  background: transparent;
  margin: 1rem;
}

@media screen and (min-width: 768px) {
  .update-form {
    flex-direction: row;
  }
}

/* Blog */

.blog {
  display: flex;
  flex-direction: column;
  background: #00d9ff;
  margin: 2rem;
}

.blog__heading {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333333;
}

.blog__date {
  font-size: 1.4rem;
  color: #666666;
}
.blog__img > img {
  width: 100%;
}

.blog__description {
  color: #8b8b8b;
  font-size: 1.4rem;
}

/* Grids */
.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* web-descriptions */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  flex-direction: row;
}

.quote {
  text-transform: lowercase;
  font-size: 2.2rem;
  font-weight: 700;
  padding: 0.2rem;
}

.quote--yellow {
  color: yellow;
}

.quote--orange {
  color: orange;
}

.quote--green {
  color: lawngreen;
}

.describe {
  font-size: 1.6rem;
  padding: 0 1rem;
  text-align: center;
}

.description {
  font-size: 1.2rem;
  padding: 0 1.5rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .quote {
    font-size: 2.8rem;
  }

  .describe {
    font-size: 1.8rem;
    padding: 0 8rem;
  }

  .description {
    font-size: 1.4rem;
    padding: 0 1.5rem;
  }
}

/* Collapsibles */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;
  font-size: 3rem;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
