:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
  --color-body-darker: #5c5577;
  --color-border: #ccc;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Typography */
::selection {
  background: var(--color-primary);
  color: #fff;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: var(--color-body);
  font-size: 2.4rem;
  line-height: 1.5;
}

/* Links */
a {
  text-decoration: none;
}

.link {
  font-size: 1.4rem;
  text-transform: capitalize;
  color: #666666;
}

.link:hover {
  color: #000;
}
