<div class="container">
  <div class="title">
    <h2 class="quote quote--yellow">health</h2>
    <h2 class="quote quote--orange">.happiness.</h2>
    <h2 class="quote quote--green">divinity</h2>
  </div>
  <div class="describe">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quis, officia
      voluptates voluptatem ex eveniet repellat.
    </p>
  </div>
  <p class="description">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque aut
    velit fugiat officiis expedita, dolores nesciunt nam sint temporibus cum
    pariatur quam distinctio deserunt. Ullam ab necessitatibus harum, quaerat
    non impedit similique asperiores quos doloribus quo iste, illum blanditiis
    iusto!
  </p>
</div>
