<section class="block">
  <div class="container container-block">
    <picture>
      <img class="hero__image" src="images/yoga-logo.png" alt="" />
    </picture>
    <header class="hero__content">
      <h1 class="hero__heading">your mind and soul is beautiful</h1>
      <p class="hero__tagline">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur,
        magni harum necessitatibus hic deleniti laboriosam iure sunt et placeat
        sit.
      </p>
    </header>
  </div>
  <svg class="icon icon--white hero--icon">
    <use xlink:href="images/sprite.svg#mouse-solid"></use>
  </svg>
</section>
