<section class="block-container owl-slider__container">
  <article class="grid grid--1x2 feature">
    <picture class="slider__image-container">
      <img class="feature__image" src="images/computer.jpg" alt="" />
    </picture>
    <div class="slider__content">
      <p class="slider__date">8th-18th NOV,2019</p>
      <h3 class="slider__heading">11days of Wisdom, Growth & Evolution</h3>
      <p class="slider__location">Location Name, mumbai</p>
      <p class="feature__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati
        vel ad unde est illo at. Labore excepturi officia dolores!
      </p>
      <div>
        <span class="badge--slider">
          Early bird price INR 48,000 <s>INR60,000</s>
        </span>
      </div>
      <button type="submit" class="btn btn__primary">Submit</button>
      <a href="#" class="link">links more</a>
    </div>
  </article>
</section>
